Standalone_LoRaWAN_Gateway/volume/node-red/data/flows.json
[
    {
        "id": "32adb41625a5a70d",
        "type": "tab",
        "label": "mqtt_subscribe_tts_to_influxdb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "974fece57d98f5cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "stack",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bd769110827337f2",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "1634e017dc160cd5",
        "type": "mqtt in",
        "z": "32adb41625a5a70d",
        "name": "",
        "topic": "v3/app01/devices/+/up",
        "qos": "0",
        "datatype": "json",
        "broker": "974fece57d98f5cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "bfc581ac1967ec7d"
            ]
        ]
    },
    {
        "id": "e5170235885592e4",
        "type": "comment",
        "z": "32adb41625a5a70d",
        "name": "Cayenne LPP Ingest",
        "info": "",
        "x": 230,
        "y": 120,
        "wires": []
    },
    {
        "id": "bfc581ac1967ec7d",
        "type": "change",
        "z": "32adb41625a5a70d",
        "name": "map",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "payload.end_device_ids.device_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "48fc7914a6394573",
                "14739060d4533e53"
            ]
        ]
    },
    {
        "id": "48fc7914a6394573",
        "type": "debug",
        "z": "32adb41625a5a70d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "14739060d4533e53",
        "type": "influxdb out",
        "z": "32adb41625a5a70d",
        "influxdb": "bd769110827337f2",
        "name": "sensors @ influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 670,
        "y": 180,
        "wires": []
    }
]